@charset "UTF-8";

/*celular*/
@media screen and (min-width:0px) and (max-width:667px) {

    
    html, body{
        height: 600px;
        width: 300px;
    }

    textarea {
        width: 290px;
        height: 250px;
        left: 40px;
        top: 152px;
    }

    #info {
        font-size: 16px;
        flex:none;        
        width:400px;
        margin-left: 40px;
        

    }

    div .botoes {
        
        left: 50px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 300px;
        height: 67px;

    }

    div .botoes:hover {
        width: 330px;
        transition: 200ms;
        box-shadow: 3px 3px 5px #000000;
    }

    #retangulo {
        display: flex;
        align-items: flex-start;
        width: 325px;
        height: 250px;
        left: 40px;
        top: 720px;
    }

    #retangulo>#desenho {
        display: none;
    }
    footer{
        
            margin-top: 300px;
            margin-left: 40px;
            padding: 25px;
    }
}

/*tablet*/
@media screen and (min-width:667px) and (max-width:992px) {

html{ 
    height: 1174px;
    width: 768px;
    left: -2277px;
    top: 2024px;

}

    textarea {
        position: absolute;
        width: 688px;
        height: 300px;
        left: 40px;
        top: 100px;
    }
    #info {
        width: 300px;
        height: 18px;
        margin-left: 40px;
        
    }
    div .botoes {
        
        left: 40px;
    }

 div .botoes:hover {
        width: 290px;
    }
    

   

    #retangulo {
        top: 730px;
        height: 133px;
        width: 688px;
        left: 40px;
    }
    #retangulo>#desenho {
        display: none;
    }

    footer{
        
        margin-top: 300px;
        text-align: center;
        padding: 25px;

}

}