@charset "UTF-8";

/*celular*/
@media screen and (min-width: 320px) and (max-width:667px) {

    
    body,section {
        height: 500px;
        width: 300px;
        border-radius: 0px;
    }

    textarea {
        width: 343px;
        height: 250px;
        left: 10px;
        top: 152px;
    }

    #info {
        margin-left: 12px;

    }

    .botoes {

        margin-top: 10px;
        margin-bottom: 5px;
        width: 335px;
        height: 67px;

    }

    .botoes:hover {
        width: 345px;
        transition: 200ms;
        box-shadow: 3px 3px 5px #000000;
    }

    #retangulo {
        display: flex;
        align-items: flex-start;
        width: 345px;
        height: 250px;
        left: 10px;
        top: 720px;
    }

    #retangulo>#desenho {
        display: none;
    }
    footer{
        
            margin-top: 10px;
            margin-left: 30px;
    }
}

/*tablet*/
@media screen and (min-width: 481px) and (max-width:992px) {

    #retangulo>#desenho {
        display: none;
    }




}