@charset "UTF-8";

/*celular*/
@media screen and (min-width: 320px) and (max-width:667px) {

    
    html, body{
        height: 600px;
        width: 300px;
    }

    textarea {
        width: 343px;
        height: 250px;
        left: 50px;
        top: 152px;
    }

    #info {
        font-size: 16px;
        flex:none;        
        width:400px;
        margin-left: 50px;
        

    }

    div .botoes {
        
        left: 50px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 300px;
        height: 67px;

    }

    div .botoes:hover {
        width: 330px;
        transition: 200ms;
        box-shadow: 3px 3px 5px #000000;
    }

    #retangulo {
        display: flex;
        align-items: flex-start;
        width: 325px;
        height: 250px;
        left: 50px;
        top: 720px;
    }

    #retangulo>#desenho {
        display: none;
    }
    footer{
        
            margin-top: 300px;
            margin-left: 50px;
            padding: 25px;
    }
}

/*tablet*/
@media screen and (min-width: 481px) and (max-width:992px) {

    #retangulo>#desenho {
        display: none;
    }




}