@charset "UTF-8";

/*808 altura e largura 1000*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
}
section{
    margin-top:  10px;
    margin-left: 10px;
}

#logo {

    margin-top: 20px;
    margin-left: 20px;
    gap: 40px;

}

textarea {
    position: absolute;
    width: 600px;
    height: 380px;
    left: 200px;
    top: 100px;
    border: none;
    display: flex;
    background-color: #E5E5E5;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 56, 113, 1)
}

::placeholder {
    color: rgba(10, 56, 113, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;

}

#info {
    margin-top: 410px;
    margin-left: 240px;
    margin-bottom: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}
 div .botoes{
    position: relative;
    left: 200px;
    top: 2px;
    bottom: 20px;
    padding: 28px;
    width: 300px;
    height:40px;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 18px;
    line-height: 9px;
    cursor: pointer;
}
div .botoes:hover{
    width: 280px;
    transition: 200ms ;
    box-shadow: 3px 3px 5px #000000;
}
 #cripto{
color: #ffffff;
background-color: #0A3871;
border: none;
}

#descripto{

color: #ffffff;
background-color:#D8DFE8;
border: 1px solid #0A3871;
color:#0A3871;

}

#retangulo {
    position: absolute;
    background: #fff;
    width: 380px;
    height: 620px;
    left: 950px;
    top: 30px;
    bottom: 40px;
    border-radius: 32px;

}

#retangulo>#desenho {
    position: block;
    margin-top: 20%;

}
#retangulo > #text{
    text-align: center;
    font-size: 24px;
    margin:20px;
}
#retangulo  #p{
    margin:20px;
    font-size: 20px;
line-height: 150%;
color:#495057;
}
#copiar{ 
display: none;
color: #ffffff;
background-color:#ffffff;
border: 1px solid #0A3871;
color:#0A3871;
}

footer{
    
    color: #0A3871;
    text-align: center;
    width: 100%;
    background-color: #E5E5E5;
    margin-top: 50px;
    
}
footer a{ 
    text-decoration: none;
    color: #0A3871;
}